*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
/* header styling */
header{
    background-image: url(./backg.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
}
#header1{
    margin-top: 100px;
}
#navbar{
    color: aliceblue;
    display: flex;
    padding-left: 50px;
    /* padding-top: 30px; */
    /* top: 0px;
    position: sticky;
    z-index: 9999px; */
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
    background-color:#39B7BC;
    transform: translateY(50px);
}
#navbar h1 {
    margin-top: 25px;
}
#nav-links a{
   padding: 5px; 
   text-decoration: none;
   color: aliceblue;
}
#nav-links a:hover{
    color: purple;
}
#nav-links{
    margin-top: 35px;
    margin-left: 70px;
}
#nav-contact{
    margin-left: 150px;
    display: flex;
  
    gap: 30px;
    margin-top: 6px;
    padding: 20px;
    /* text-align: center; */
}

#nav-contact i{
background-color: aliceblue;
color: black;
border-radius: 45%;
width: 50px;
height: 30px;
/* text-align: center; */
padding: 25px;
padding-right: 40px;
font-size: 15px;

/* font-size: 20px; */
}
#nav-contact p{
    border: 2px solid white ;
    border-radius: 18px;
    padding: 10px;
    margin-top: -1px;
}
#nav-contact p:hover{
    background-color: white;
    color: purple;
}
#head-image img{
    height: 80px;
    width: 10%;
    border-radius: 200px;
    margin-top: 1px;
}
#head-image{
    margin-top: 100px;
    display: flex;
    gap: 20px;
    object-fit: cover;
    color: black;
    margin-left: 50px;

}
#head-image h1{
    border: 2px solid white;
    background-color:white;
    border-radius: 25px;
    padding: 10px;
padding-top: 20px;
}
#h1{
    border: 2px solid white;
    background-color:white;
    border-radius: 18px;
    padding: 10px;
    margin-right: 100px;
    margin-left: 60px;
    color: purple;
    margin-top: 20px;
}
header button{
    height: 45px;
    width: 150px;
    color: aliceblue;
    background-color: #39B7BC;
    border-radius: 20px;
    margin-left: 60px;
    margin-top: 40px;
    margin-bottom: 200px;
}
header button:hover{
    background-color: purple;
}
#head-section{
    display: flex;
    gap: 250px;
}
#header2 img{
    border-radius: 50%;
    margin-top: 150px;
}
/* Main section*/
#main-pic img{
    height: 350px;
    width: 400px;
    object-fit: cover;
    border-radius: 18px;
    margin-left: 150px;
    margin-top: 60px;
}
#intro img{
height: 100px;
width: 100px;
object-fit: cover;
border-radius: 100%;
transform: translateX(200px);
}
#intro{
    display: flex;
    gap: 50px;
    background-color: #39B7BC;
    border-radius: 18px;
    padding: 25px;
    margin-right: 20px;
}
#intro h1{
    color: aliceblue;
    transform: translateX(150px);
    font-size: 40px;
    padding: 20px;
}
#about{
    display: flex;
    gap: 30px;
    background-color:aliceblue;
}
#about-2{
    margin-top: 60px;
}
#about-2 p{
    text-align: justify;
    font-size: 25px;
    padding: 20px;
}
table{
    font-size: 45px;
    background-color: aliceblue;
}
.box{
    font-size: 30px;
    width: 50%;
    height: 150px;
    padding: 20px;
}
.box p{
    color: #39B7BC;
}
#exp-div{
    display: flex;
    /* padding: 20px; */
    margin-top: 50px;
    /* margin-bottom: 50px; */
}
#exp-div-2{
    display: flex;
}
#box-1{
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
#box-2{
    border-bottom: 2px solid black;
}
#box-3{
    border-right: 2px solid black;
    font-size: 28px;
}

#name,#birth,#Email,#phone {
    display: flex;
    gap: 100px;
    width: 750px;
    /* padding: 10px; */
    margin: 0px;
    padding: 0px;
    text-align: center;
    /* border-bottom: 2px solid black; */
}
#info-heading{
    text-align: center;
    padding: 30px;
}
.table-head{
    border-right: 2px solid black;
    padding: 10px;
    padding-left: 20px;
    width: 30%;
}
#name{
    /* margin-left: 34px; */
    background-color: aliceblue;
}
#name h3{
    font-size: 30px;
}
#birth{
    font-size: 23px;
}
#phone{
    /* margin-left : 26px; */
font-size: 23px;
    background-color: aliceblue;
}
#Email {
   font-size: 23px; 
}

#birth{
    display: flex;
    gap: 80px;
}
#table-div{
    border: 2px solid black;
    width: 800px;
    height: 300px;
    border-radius: 18px;
    display: block;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
}
#outer-table-box{
    display: flex;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
}
#company img {
    padding: 20px;
}
#company h1{
    text-align: center;
    font-size: 50px;
}
#company-work{
    padding-top: 50px;
padding: 50px;
    padding-bottom: 100px;
    background-color: aliceblue;
}
#service-head,#project-head{
    color: aliceblue;
    background-color: #39B7BC;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 30px;
    padding-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 20px;
    margin-top: 80px;
}
#service-head h1, #project-head h1{
    /* transform: translateX(250px); */
    font-size: 40px;
    margin-top: 25px;
}
#service-head img , #project-head img{
    border-radius: 100%;
    /* transform: translateX(200px); */
    height: 130px;
    width: 130px;
}
.chunk{
    background-color: whitesmoke;
    height: 550px;
    width: 400px;
    border: 2px solid white;
    border-radius: 18px;
    overflow: hidden;
}
.chunk:hover{
    border: 2px solid #39B7BC;
}
.chunk-class{
    display: flex;
    gap: 40px;
    margin-left: 150px;
    margin-top: 50px;
    margin-right: 50px;
}
.chunk-part{
    display: flex;
    gap: 80px;
    padding: 20px;
    font-size: 15px;
}
.chunk-part p{
    background-color: purple;
    color: white;
    border-radius: 10px;
    margin-left: 80px;
    /* padding: 15px; */
}

.chunk-part p:hover{
    background-color: #39B7BC;
    color: white;
}
#Services button{
    height: 55px;
    width: 130px;
    border-radius: 40px;
    margin: 50px;
}
#Services button:hover{
    background-color: #39B7BC;
    color: white;
}
#Services p{
    
    font-size: 20px;
    /* margin: 5px; */
    text-align: justify;
    padding: 10px;
}
#Services i{
    font-size: 80px;
    border: 2px solid #737874;
    border-radius: 18px;
padding: 80px;
}
#Services i:hover{
    background-color:  #39B7BC;
    color: aliceblue;
}
#chunk1 i{
    margin-left:245px;
    transform: translateY(-45px) rotate(-45deg);
}
#chunk2 i{
    margin-left:245px;
    transform: translateY(-45px) rotate(-45deg);
}

#service-flex{
    overflow: hidden;
}
#Pojects{
    background-color: aliceblue;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
}
#project-flex{
    display: flex;
    gap: 40px;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
}
.p-box img{
height: 300px;
width: 250px;
border-radius: 20px;
transform: translateY(180px)  rotate(50deg);
}
.p-box img:hover{
    transform: rotate(360deg) translateY(45px) ;
transition-property: all;
transition-timing-function: ease-in-out;
transition-duration: 0.25s;

}
.p-box:hover{
    border: 2px solid #39B7BC;
}
.p-box{
    height: 480px;
    width: 400px;
    color: #39B7BC;
    background-color: #F5F5F5;
    border-radius: 18px;
    padding: 50px;
    overflow: hidden;
}
.p-box h1{
font-size: 30px;
font-weight: 700;
color: black;
}
#head{
    background-color: #39B7BC;
    margin-right: 600px;
    margin-left: 100px;
    display: flex;
    gap: 20px;
    border-radius: 20px;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}
#head img{
    height: 150px;
    width: 170px;
    border-radius: 50%;
    /* padding: 20px; */
}
#head h1{
    color: white;
    font-weight: 900;
    font-size: 45px;
    margin-top: 50px;
}
.Services a{
text-decoration: none;
color: #737874;
/* margin-left: 50px; */
padding: 5px;
margin-bottom: 50px;
border: 2px solid #737874 ;
border-radius: 20px;
font-size: 13px;

}
.Services a:hover{
background-color: #39B7BC;
color: white;
}
#contact-icons i{
    font-size: 13px;
    border: 2px solid #737874;
    padding: 10px;
    border-radius: 50%;
    margin-top: 10px;
    /* margin-left: 35px; */
}
#contact-icons i:hover{
    background-color: #39B7BC;
   
    color: white;
}
.Services p {
    color: #737874;
    font-size: 15px;
    line-height: 25px;
}
#contact-sub1{
    display: flex;
}
#service-1div {
    border-right: 2px solid #737874;
    padding: 40px;
    width: 250px;
    background-color: white;
}
#service-div2{
    padding: 40px;
    width: 250px;
    background-color: white;
}

#contact-sub2  input {
    padding: 10px;
    border: 2px solid #737874;
}
#fields input:hover{
    border: 2px solid #39B7BC !important;
}
#field2 input:hover{
    border: 2px solid #39B7BC;
}
#contact-sub2 p{
    color: #737874;
    
}

.form-icons{
    display: flex;
    gap: 7px;
    font-size: 18px;
    padding: 5px;
    /* text-align: center; */
    /* border: 2px solid #737874; */
}
.form-icons p {
    /* text-align: center; */
    /* padding: 5px; */
    margin-left: 30px;
    font-size: 12px;
padding: 18px;
margin-top: 25px;
}
.form-icons i {
    color: #39B7BC;
    /* margin-right: 70px; */
    transform: translateX(-65px);
    margin-top: 5px;
}
.form-icons:hover{
    border: 2px solid #39B7BC;
}
#w-icon{
    border: 2px solid #737874;
    background-color: white;
}
#w-icon:hover{
    border: 2px solid #39B7BC;
}
#b-icon{
    border: 2px solid #737874;
    background-color: white;
}
#b-icon:hover{
    border: 2px solid #39B7BC;
}
#e-icon{
    border: 2px solid #737874;
    background-color: white;
}  
#e-icon:hover{
    border: 2px solid #39B7BC;
} 
#s-icon{
    border: 2px solid #737874;
    background-color: white;
}
#s-icon:hover{
    border: 2px solid #39B7BC;
}

#f-icon{
    display: flex;
    gap: 20px;
    margin-bottom: 35px;
}
#contact-sub2 button{
background-color: #39B7BC;
color: white;
height: 50px;
    width: 100px;
    border-radius: 20px;
    padding: 10px;
    font-weight: 900;
    margin-left: 550px;
    margin-top: 30px;
}
#fields{
    margin-bottom: 30px;

}

#contact-sub2 button:hover{
    background-color: purple;
    /* padding: 50px; */
   
}
#Contacts{
    background-color: aliceblue;
    /* margin-top: -30px; */
}
#contact-main-div{
    display: flex;

    gap: 20px;
    padding-left: 80px;
    padding-right: 95px;
margin-top: 35px;
padding-top: 20px;
padding-bottom: 20px;
}
  footer{
    padding: 50px;
    text-align: center;
  }  


